# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: ci

on:
  push:
    branches: [ "main", "dev" ]
    paths-ignore:
      - "*.md"
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - "*.md"

permissions:
  contents: read

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12, 3.13, 3.14]
    steps:
      - uses: actions/checkout@v5
      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
          enable-cache: true
      - uses: astral-sh/ruff-action@v3
      - name: Install deps
        run: uv sync
      - name: Check code style and Type Hint
        run: make _check
      - name: Run Tests
        run: make _test
